---
import type { CollectionEntry } from 'astro:content';

export interface Props {
	review: CollectionEntry<'reviews'>;
}

const { review } = Astro.props;

const {
	data: { name, source, link },
	body,
} = review;
---

<figure>
	<blockquote>{body}</blockquote>
	<figcaption>
		{name}<br />
		<cite><a href={link}>{source}</a></cite>
	</figcaption>
</figure>

<style lang="scss">
	figure {
		position: relative;
		margin: 5rem 0;

		@include m.media('>tablet') {
			margin: 5rem 2vw 5rem calc(2vw + 2rem);
		}

		@include m.media('>desktop') {
			margin: 10rem 2vw 10rem calc(2vw + 2rem);
		}

		@include m.media('>large') {
			margin: 10rem 6vw 10rem calc(6vw + 2rem);
		}

		@include m.media('>xlarge') {
			margin: 10rem 8vw 10rem calc(8vw + 2rem);
		}
	}

	figure::before {
		content: '“';
		position: absolute;
		line-height: 0;
		font-style: italic;
		opacity: 0.165;
		font-size: 16rem;
		top: 5rem;
		left: -5rem;

		@include m.media('>phone') {
			font-size: 16rem;
			top: 7rem;
			left: -3.5rem;
		}

		@include m.media('>tablet') {
			font-size: 34rem;
			top: 12rem;
			left: -9rem;
		}
	}

	blockquote {
		margin: 0;
		font-size: 1.5rem;
		font-style: italic;
		text-align: center;

		@include m.media('>phone') {
			font-size: 1.7rem;
			margin: revert;
		}

		@include m.media('>tablet') {
			font-size: 2rem;
		}

		@include m.media('>justify') {
			text-align: justify;
		}
	}

	figcaption {
		@include m.parchment-emphasis;

		text-align: right;
		margin: 1rem 0;

		@include m.media('>tablet') {
			margin: 1rem 40px;
		}
	}

	cite {
		font-style: normal;
		text-underline-offset: 0.2rem;
	}
</style>
