---
import type { CollectionEntry } from 'astro:content';

export interface Props {
	review: CollectionEntry<'reviews'>;
}

const { review } = Astro.props;

const {
	data: { name, source, link },
	body,
} = review;
---

<figure>
	<blockquote>{body}</blockquote>
	<figcaption>
		{name}<br />
		<cite><a href={link}>{source}</a></cite>
	</figcaption>
</figure>

<style lang="scss">
	figure {
		position: relative;
		margin: 10rem 10rem;
	}

	figure::before {
		content: '“';
		font-size: 34rem;
		position: absolute;
		top: 0;
		line-height: 0;
		font-style: italic;
		opacity: 0.165;
		top: 12rem;
		left: -9rem;
	}
	blockquote {
		font-size: 2rem;
		font-style: italic;
		text-align: justify;
	}
	figcaption {
		@include m.parchment-emphasis;
		text-align: right;
		margin: 1rem 40px;
	}
	cite {
		font-style: normal;
		text-underline-offset: 0.2rem;
	}
</style>
