---
import type { CollectionEntry } from 'astro:content';

export interface Props {
	endorsement: CollectionEntry<'endorsements'>;
}

const { endorsement } = Astro.props;
const { name, profession } = endorsement.data;
const { Content } = await endorsement.render();
---

<div class="endorsement-content">
	<Content />
</div>
<div class="endorsement-meta">
	<div class="endorsement-name">{name}</div>
	<div class="endorsement-profession">{profession}</div>
</div>

<style lang="scss">
	.endorsement {
	}

	.endorsement-content {
		text-align: justify;
	}

	.endorsement-meta {
		@include m.parchment-emphasis;
		@include m.parchment-text;
		text-align: center;
	}
</style>
