---
import { Picture } from '@astrojs/image/components';
import type { CollectionEntry } from 'astro:content';

export interface Props {
	endorsement: CollectionEntry<'endorsements'>;
}

const { endorsement } = Astro.props;
const { name, profession, image } = endorsement.data;
const { Content } = await endorsement.render();
const endorser = await import(
	`../../assets/overview/endorsers/${image.replace(/\.[^/.]+$/, '')}.jpg`
);
---

<div class="endorsement-content">
	<Content />
</div>
<Picture
	src={endorser.default}
	alt={name}
	sizes="17rem"
	aspectRatio={1}
	widths={[400, 800, 1200]}
	fit="cover"
	position="center"
	class="endorser"
/>
<div class="endorsement-meta">
	<div class="endorsement-name">{name}</div>
	<div class="endorsement-profession">{profession}</div>
</div>

<style lang="scss">
	.endorser {
		width: 100%;
		text-align: center;
		clip-path: circle();
		mix-blend-mode: luminosity;
		opacity: 0.9;
		@include m.media('>phone') {
			width: 17rem;
		}
	}

	.endorsement-content {
		text-align: justify;
		margin-top: 6rem;
		@include m.media('>desktop') {
			margin-top: 0;
		}
	}

	.endorsement-meta {
		@include m.parchment-emphasis;
		@include m.parchment-text;
		text-align: center;
	}
</style>
