---
import PlaceholderImage from '@components/PlaceholderImage/index.astro';
import type { CollectionEntry } from 'astro:content';
import type { ImageImport } from '@util/types';
export interface Props {
	endorsement: CollectionEntry<'endorsements'>;
}

const { endorsement } = Astro.props;
const { name, profession, image } = endorsement.data;
const { Content } = await endorsement.render();
const endorser = (await import(
	`../../assets/overview/endorsers/${image.replace(/\.[^/.]+$/, '')}.jpg`
)) as ImageImport;
---

<div class="endorsement-content">
	<Content />
</div>
<PlaceholderImage
	publicSrc={`/img/overview/endorsers/${image.replace(/\.[^/.]+$/, '')}.jpg`}
	src={endorser.default}
	alt={name}
	sizes="17rem"
	aspectRatio={1}
	widths={[400, 800, 1200]}
	class="endorser"
	fit="cover"
	placeholderSize={4}
/>
<div class="endorsement-meta">
	<h6 class="endorsement-name">{name}</h6>
	<div class="endorsement-profession">{profession}</div>
</div>

<style lang="scss">
	@use '~styles/_variables.scss' as v;
	@use '~styles/_mixins.scss' as m;

	.endorser {
		width: 100%;
		height: auto;
		text-align: center;
		clip-path: circle();
		mix-blend-mode: luminosity;
		opacity: 0.9;

		@include m.media('>phone') {
			width: 17rem;
		}
	}

	.endorsement-content {
		margin-top: 6rem;

		@include m.media('>desktop') {
			margin-top: 0;
		}

		@include m.media('>justify') {
			text-align: justify;
		}
	}

	.endorsement-meta,
	h6 {
		@include m.parchment-emphasis;
		@include m.parchment-text;

		text-align: center;
		margin: 0;

		h6 {
			opacity: 1;
		}
	}
</style>
