@use 'variables' as v;
@use './breakpoints.module.scss' as b;
@import 'node_modules/include-media/dist/include-media';

$breakpoints: b.$breakpoints;

@mixin parchment-text {
	opacity: v.$opacity-parchment;
}

@mixin smallcaps {
	font-family: v.$font-family-sc;
	font-weight: 600;
}

@mixin parchment-emphasis {
	font-size: 1.03em;

	@include smallcaps;
}

@mixin parchment-deboss {
	background-color: black;
	color: transparent;
	text-shadow: 0 var(--deboss-depth) 3px rgb(255 255 255 / 10%);
	background-clip: text;
	filter: brightness(var(--deboss-brightness));
}

@mixin custom-scrollbar($scroll-bg, $thumb-bg) {
	scrollbar-color: $thumb-bg $scroll-bg;
	scrollbar-width: thin;

	&::-webkit-scrollbar {
		width: 11px;
	}

	&::-webkit-scrollbar-track {
		background: $scroll-bg;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $thumb-bg;
		border: 3px solid $scroll-bg;
		border-radius: 6px;
	}
}

@mixin text-stroke($color, $width: 1px, $rest: 0 0 0 transparent) {
	text-shadow:
		(-$width) (-$width) 0 $color,
		$width (-$width) 0 $color,
		-$width $width 0 $color,
		$width $width 0 $color,
		$rest;
}
