html {
	font-family: system-ui, sans-serif;
	background-color: #f6f6f6;
	font-size: 19px;
	font-family: 'Vollkorn', serif; /** TODO fallbacks **/
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Marcellus SC', serif; /** TODO fallbacks **/
}
