@use 'sass:map';
@use './variables' as v;

html {
	background-color: v.$color-default;
	font-family: v.$font-family-body;
	font-feature-settings: 'kern', 'liga', 'clig', 'calt', 'tnum';
	font-kerning: normal;
	font-size: v.$font-size-base;
	scroll-behavior: smooth;
	color: v.$color-black;
}

h1,
h2,
h3,
h4,
h5,
button {
	font-family: v.$font-family-headings;
}

::selection {
	background: v.$color-parchment-shadow;
}

@media print {
	* {
		background: white !important;
		box-shadow: none !important;
		grid-template-columns: auto !important;
	}

	img,
	svg {
		display: none !important;
	}
}
