html {
	background-color: #f6f6f6;
	font-family: Vollkorn, serif; /** TODO fallbacks **/
	font-feature-settings: 'tnum';
	font-size: 19px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Marcellus SC', serif; /** TODO fallbacks **/
}
