---
import Layout from '@layouts/Layout.astro';
import Hero from '@components/Hero.astro';
import BookOverview from '@components/BookOverview.astro';
import Reviews from '@components/Reviews.astro';
import Footer from '@components/Footer.astro';
import { getEntryBySlug } from 'astro:content';

export type Props = Record<string, never>;

const { frontmatter: site } = await getEntryBySlug('meta', 'site');
---

<Layout title={`${site.shortTitle}: ${site.subTitle}`}>
	<main>
		<Hero title={site.shortTitle} subtitle={site.subTitle} />
		<BookOverview />
		<Reviews />
		<Footer />
	</main>
</Layout>

<style>
	main {
	}
</style>
