---
import Layout from 'layouts/Layout.astro';
import Hero from 'components/Hero.astro';
import BookOverview from 'components/BookOverview.astro';
import Reviews from 'components/Reviews.astro';
---

<Layout
	title="Forging Modernity: Why and How Britain Developed the Industrial Revolution"
>
	<main>
		<Hero
			title="Forging Modernity"
			subtitle="Why and How Britain Developed the Industrial Revolution"
		/>
		<BookOverview />
		<Reviews />
	</main>
</Layout>

<style>
	main {
	}
</style>
