---
import Layout from 'layouts/Layout.astro';
import Hero from 'components/Hero.astro';
import BookInfo from 'components/BookInfo.astro';
---

<Layout
	title="Forging Modernity: Why and How Britain Developed the Industrial Revolution"
>
	<main>
		<Hero
			title="Forging Modernity"
			subtitle="Why and How Britain Developed the Industrial Revolution"
		/>
		<BookInfo />
	</main>
</Layout>

<style>
	main {
	}
</style>
