---
import Global from '@layouts/Global.astro';
import { getEntryBySlug } from 'astro:content';
export type Props = Record<string, never>;

const metaCollection = await getEntryBySlug('meta', 'site');
const meta = metaCollection.data;
---

<Global title={`Purchase ${meta.shortTitle}`}>
	<main>
		<p>Buy Now</p>
	</main>
</Global>

<style>
	main {
		max-width: 800px;
		margin: 0 auto;
		text-align: center;
	}
	p {
		font-size: 1rem;
	}
</style>
