---
import Layout from 'layouts/Layout.astro';
---

<Layout title="Purchase Forging Modernity">
	<main>
		<p>Buy Now</p>
	</main>
</Layout>

<style>
	main {
		max-width: 800px;
		margin: 0 auto;
		text-align: center;
	}
	p {
		font-size: 1rem;
	}
</style>
