---
import { getEntryBySlug } from 'astro:content';
export type Props = Record<string, never>;

const bookEntry = await getEntryBySlug('index', 'bookoverview');
if (!bookEntry) {
	throw new Error('No book overview item found');
}
const { Content } = await bookEntry.render();
---

<section>
	<div class="grid-container">
		<div>Image here</div>
		<div>
			<Content />
		</div>
	</div>
</section>
<style>
	section {
		width: 100%;
		background: #ddf;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.grid-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		grid-gap: 5rem;
		margin: 5rem;
	}

	h1 {
		font-size: 2rem;
	}
	h2 {
		font-size: 1.5rem;
	}
	p {
		font-size: 1rem;
	}
</style>
