---
import { getEntryBySlug } from 'astro:content';
export type Props = Record<string, never>;

const bookEntry = await getEntryBySlug('index', 'bookoverview');
if (!bookEntry) {
	throw new Error('No book overview item found');
}
const { Content } = await bookEntry.render();
---

<section>
	<div class="grid-container">
		<div>Image here</div>
		<div class="overview-text">
			<Content />
		</div>
	</div>
</section>
<style lang="scss">
	section {
		width: 100%;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.grid-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		grid-gap: 10rem;
		margin: 5rem 12rem;
	}

	%emboss-text {
		background-color: black;
		color: transparent;
		text-shadow: 0 2px 3px rgb(255, 255, 255, 10%);
		-webkit-background-clip: text;
		-moz-background-clip: text;
		background-clip: text;
		filter: brightness(5);
	}

	.overview-text {
		text-align: left;

		:global(h1) {
			@extend %emboss-text;
			font-size: 3rem;
			opacity: 0.6;
			margin-bottom: 0;
		}

		:global(h2) {
			@extend %emboss-text;
			font-size: 1.4rem;
			opacity: 0.6;
			margin-top: 0;
			margin-bottom: 0;
			line-height: 1;
			letter-spacing: 0.04em;
		}

		:global(h3) {
			font-size: 1rem;
			opacity: 0.6;
			letter-spacing: 0.06em;

			:global(a) {
				color: black;
				text-underline-offset: 0.2em;

				&:hover {
					opacity: 1;
				}
			}
		}

		:global(p) {
			font-size: 1rem;
			opacity: 0.6;
			line-height: 1.5;
			text-align: justify;
			/** TODO tiny text shadow effect */

			:global(.lead-in) {
				font-weight: 600;
				font-family: 'Vollkorn SC';
				font-size: 1.03em;
			}
		}
	}
</style>
