---
import { getEntryBySlug } from 'astro:content';
export type Props = Record<string, never>;

const bookEntry = await getEntryBySlug('index', 'bookoverview');
if (!bookEntry) {
	throw new Error('No book overview item found');
}
const { Content } = await bookEntry.render();
---

<section>
	<div class="grid-container">
		<div>Image here</div>
		<div class="overview-text">
			<Content />
		</div>
	</div>
</section>
<style lang="scss">
	section {
		width: 100%;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.grid-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		grid-gap: 5rem;
		margin: 5rem;
	}

	%emboss-text {
		background-color: black;
		color: transparent;
		text-shadow: 0 2px 3px rgb(255, 255, 255, 10%);
		-webkit-background-clip: text;
		-moz-background-clip: text;
		background-clip: text;
		filter: brightness(5);
	}

	.overview-text {
		text-align: left;

		:global(h1) {
			@extend %emboss-text;
			font-size: 3.5rem;
			font-family: 'Marcellus SC', serif; /** TODO fallback */
			opacity: 0.6;
			margin-bottom: 0;
		}

		:global(h2) {
			@extend %emboss-text;
			font-size: 1.7rem;
			font-family: 'Marcellus SC', serif; /** TODO fallback */
			opacity: 0.6;
			margin-top: 0;
		}

		:global(h3) {
			font-size: 1.17rem;
			font-family: 'Marcellus', serif; /** TODO fallback */
			opacity: 0.6;

			:global(a) {
				color: black;

				&:hover {
					opacity: 1;
				}
			}
		}

		:global(p) {
			font-size: 1rem;
			font-family: serif;
			opacity: 0.6;
		}
	}
</style>
