---
import { getCollection } from 'astro:content';
export type Props = Record<string, never>;

const syndicationCollection = await getCollection('syndication');
const {} = Astro.props;
---

<section>
	<p>
		{
			syndicationCollection.map(({ data: syndication }) => (
				<li>
					<a href={syndication.link}>{syndication.title}</a>
				</li>
			))
		}
	</p>
</section>
<style>
	section {
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 5rem;
		color: #000;
	}

	a,
	a:visited,
	a:hover,
	a:active {
		color: #000;
	}

	h1 {
		font-size: 2rem;
	}

	h2 {
		font-size: 1.5rem;
	}

	p {
		font-size: 1rem;
	}
</style>
