---
import { getEntryBySlug } from 'astro:content';
export type Props = Record<string, never>;

const reviewsEntry = await getEntryBySlug('index', 'reviews');
if (!reviewsEntry) {
	throw new Error('No reviews item found');
}
const { Content } = await reviewsEntry.render();
---

<section>
	<Content />
</section>
<style>
	section {
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 5rem;
	}

	h1 {
		font-size: 2rem;
	}

	h2 {
		font-size: 1.5rem;
	}

	p {
		font-size: 1rem;
	}
</style>
