---
export interface Props {}

const {} = Astro.props;
---

<section>
	<h1>Reviews</h1>
	<p>
		This timely book reminds us what a great achievement the Industrial
		revolution in Britain was in the period 1660-1830, taking living
		standards far higher than on the continent for the many and witnessing a
		flowering of new products and technologies. Furthermore, it gave ideas
		to the world to raise their wages and wealth as they caught up in the
		nineteenth century. Hutchinson explains why this happened first in
		Britain, and how Tory politics helped by allowing local and
		entrepreneurial diversity and experimentation without heavy handed
		taxation and regulation. It is refreshing to be told that there is a lot
		good about economic growth, freeing people from poverty and extending
		opportunities for many to earn and save more and enjoy a better
		lifestyle.
		<b>Rt Hon. Sir John Redwood, MP for Wokingham</b>
	</p>
	<p>
		An entertaining, splendid and stunningly original history of one of the
		most important events of human history, Forging Modernity explores the
		origins of the Industrial Revolution when human living standards were
		pulled up from grinding Malthusian poverty and onto the path to modern
		levels of prosperity. Why did the industrial revolution occur first in
		Britain, and what was its main cause? Hutchinson’s answer is that it
		occurred thanks to Britain’s strong property rights and the relative
		lack of state interference in the economy. Its intellectual roots are to
		be found in the royalism of the post-Restoration period, which was to
		find its apogee in the high Toryism of the eighteenth century. And had
		it not been for the Whigs’ grubby meddling early in that century, the
		Industrial Revolution might have occurred half a century before it did.
		At long last, a Tory and not a Whig interpretation of history!
		<b>Professor Kevin Dowd, Durham University</b>
	</p>
</section>
<style>
	section {
		background: #fdd;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 5rem;
	}

	h1 {
		font-size: 2rem;
	}

	h2 {
		font-size: 1.5rem;
	}

	p {
		font-size: 1rem;
	}
</style>
