---
import '@styles/global.css';
import '@fontsource/marcellus-sc/latin-400.css'; // TODO Reduce styles
import '@fontsource/marcellus/latin-400.css';
import '@fontsource/vollkorn/latin-400.css';
import '@fontsource/vollkorn/latin-500.css';
import '@fontsource/vollkorn/latin-600.css';
import '@fontsource/vollkorn/latin-700.css';
import '@fontsource/vollkorn/latin-800.css';
import '@fontsource/vollkorn/latin-900.css';
import '@fontsource/vollkorn-sc/latin-400.css';
import '@fontsource/vollkorn-sc/latin-600.css';
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	body {
		margin: 0;
	}
</style>
