---
import '@styles/base.global.scss';
import Global from '@layouts/Global.astro';

export interface Props {
	frontmatter: {
		title: string;
	};
}

const { frontmatter } = Astro.props;
---

<Global title={frontmatter.title}>
	<main>
		<slot />
	</main>
</Global>

<style>
	main {
		max-width: 800px;
		margin: 0 auto;
	}
	p {
		font-size: 1rem;
	}
</style>
