---
import { Icon } from 'astro-icon';
export type Props = Record<string, never>;
---

<div class="container-hover">
	<div class="container-border">
		<div class="container-transparent">
			<button class="button"
				><Icon pack="mdi" name="cart" /> Available for Pre-Order</button
			>
		</div>
	</div>
</div>
<style lang="scss">
	%octagon {
		clip-path: polygon(
			0 10%,
			5% 0,
			95% 0,
			100% 10%,
			100% 90%,
			90% 110%,
			10% 110%,
			0% 90%,
			0% 10%
		);
	}

	.button {
		@extend %octagon;

		appearance: none;
		color: white;
		padding: 0;
		border: 0px;
		background: none;

		text-align: center;
		position: relative;
		z-index: 10;
		font-size: 1.3rem;
		font-weight: bold;
		background: v.$color-button;
		padding: 0.5rem 1rem;
		display: flex;
		align-items: center;
		justify-content: center;
		line-height: 1.1;
		cursor: pointer;
	}

	/** Try the notched thing */
	.container-transparent {
		@extend %octagon;

		background: v.$color-parchment;
		background-image: v.$parchment-background;
		width: fit-content;
		padding: 2px;
		cursor: pointer;
	}

	.container-border {
		@extend %octagon;

		background: v.$color-button;
		width: fit-content;
		padding: 3px;
		cursor: pointer;
	}

	.container-hover {
		width: fit-content;
		transition: filter v.$transition-speed-normal v.$transition-timing,
			opacity v.$transition-speed-fast linear;
		opacity: v.$opacity-parchment;
		filter: drop-shadow(0 1px 1px v.$color-button);
		&:hover {
			filter: drop-shadow(0 1px 4px v.$color-button);
		}
		&:active {
			opacity: v.$opacity-parchment + 0.2;
		}
	}

	[astro-icon='mdi:cart'] {
		height: 1.3rem;
		padding: 0 0.4rem 0 0;
	}
</style>
