---
import map from '@assets/overview/maplink.png';
import PlaceholderImage from '@components/PlaceholderImage/index.astro';
import { Icon } from 'astro-icon';
import cssVars from '@styles/_jsalias.module.scss';

export interface Props {
	canalsMapTitle: string;
}

const { canalsMapTitle } = Astro.props;

const mediaDesktopMinWidth = parseInt(cssVars.mediaLarge, 10) + 1;
const pictureSizes = `(min-width: ${mediaDesktopMinWidth}px) 32vw, 80vw`;
---

<a
	href="/canals"
	class="link"
	title="Navigable map featuring information about early industrial canals"
>
	<PlaceholderImage
		publicSrc={'/img/overview/maplink.png'}
		src={map}
		alt="Map of UK Linking to Canal Map"
		sizes={pictureSizes}
		widths={[400, 800, 1200]}
		quality={70}
		class="map-picture"
		placeholderSize={8}
		type={'png'}
	/>
	<Icon pack="lucide" name="pointer" class="maplink-icon" />
	<h2 class="text">{canalsMapTitle}</h2>
</a>

<style lang="scss">
	@use '~styles/_variables.scss' as v;
	@use '~styles/_mixins.scss' as m;

	.link {
		text-decoration: none;
		width: 100%;
		position: relative;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column-reverse;
		margin: 2vw 0 8vw;

		@include m.media('>desktop') {
			display: block;
			width: 60vw;
			left: 5vw;
		}

		@include m.media('>large') {
			display: block;
			width: 50vw;
			left: 5vw;
		}

		&:hover .map-picture {
			filter: drop-shadow(0 0 6px v.$color-shadow-dark);
			outline: none !important;
		}

		&:hover .text {
			text-shadow: 0 2px 4px rgba(255 255 255 / 10%);
			filter: brightness(var(--deboss-brightness))
				drop-shadow(0 0 0.5px v.$color-shadow-light);
		}

		&:hover .maplink-icon {
			opacity: 0;
		}

		& > * {
			transition: all v.$transition-speed-normal v.$transition-timing;
		}
	}

	:global(.maplink-icon) {
		position: absolute;
		color: v.$color-default;
		opacity: 0.4;
		filter: drop-shadow(0 0 6px v.$color-shadow);
		z-index: v.$z-index-images + 1;
		top: 60%;
		left: 43%;
		width: 20vw;
		height: 20vw;

		@include m.media('>phone') {
			width: 15vw;
			height: 15vw;
		}

		@include m.media('>tablet') {
			top: 55%;
		}

		@include m.media('>desktop') {
			top: 29vw;
			left: 22vw;
			width: 8vw;
			height: 8vw;
		}

		@include m.media('>large') {
			top: 20vw;
			left: 16.5vw;
			width: 6vw;
			height: 6vw;
		}
	}

	.text {
		line-height: 1;
		margin-bottom: 0;
		z-index: v.$z-index-images + 2;
		position: relative;
		font-size: 1.7rem;
		text-align: center;
		margin-left: 1rem;

		@include m.media('>phone') {
			font-size: 2rem;
		}

		@include m.media('>desktop') {
			margin-left: 0;
			line-height: 1.25;
			margin-bottom: initial;
			text-align: unset;
			font-size: 3.5vw;
			margin-top: 8vw;
			word-spacing: 9999rem;
		}

		@include m.media('>large') {
			line-height: 1.25;
			margin-bottom: initial;
			text-align: unset;
			font-size: 2.7vw;
			margin-top: 3.25vw;
		}
	}

	.map-picture {
		filter: drop-shadow(0 0 6px v.$color-shadow);
		float: left;
		display: inline;
		margin-right: -4vw;
		mix-blend-mode: luminosity;
		width: 80vw;
		max-width: 100%;
		height: auto;
		position: relative;
		left: -1vw;

		@include m.media('>phone') {
			width: 60vw;
			left: -2.5vw;
		}

		@include m.media('>desktop') {
			left: 0;
			height: unset;
			max-width: unset;
			width: 45vw;
			shape-outside: ellipse(18vw 19vw);
		}

		@include m.media('>large') {
			width: 32vw;
			shape-outside: ellipse(14vw 17vw);
		}
	}
</style>
