---
import map from '@assets/overview/maplink.webp';
import { Picture } from '@astrojs/image/components';
import { Icon } from 'astro-icon';
---

<a href="/map" class="link">
	<Picture
		src={map}
		alt="Map of UK Linking to Canal Map"
		sizes="32vw"
		widths={[400, 800, 1200]}
		format="jpg"
		quality={70}
		fit="cover"
		position="center"
		class="map-picture"
	/>
	<Icon pack="lucide" name="pointer" class="maplink-icon" />
	<h1 class="text">Canals<br />Which<br />Forged<br />Modernity<br /></h1>
</a>

<style lang="scss">
	// Not sure why they're stacked -- maybe flex, ask chatgpt
	.link {
		text-decoration: none;
		width: 100%;
		position: relative;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column-reverse;

		@include m.media('>desktop') {
			display: block;
			width: 50vw;
			left: 5vw;
		}

		&:hover .map-picture {
			filter: drop-shadow(0 0 6px v.$color-shadow-dark);
			outline: none !important;
		}

		&:hover .text {
			text-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
			filter: brightness(var(--deboss-brightness))
				drop-shadow(0px 0px 0.5px v.$color-shadow-light);
		}

		&:hover .maplink-icon {
			opacity: 0;
		}

		& > * {
			transition: all v.$transition-speed-normal v.$transition-timing;
		}
	}

	:global(.maplink-icon) {
		position: absolute;
		top: 20vw;
		left: 17vw;
		width: 6vw;
		height: 6vw;
		color: v.$color-default;
		opacity: 0.4;
		filter: drop-shadow(0 0 6px v.$color-shadow);
	}

	.text {
		font-size: 2.7vw;
		margin-top: 3.25vw;
	}
	.map-picture {
		filter: drop-shadow(0 0 6px v.$color-shadow);
		shape-outside: ellipse(14vw 17vw);
		float: left;
		display: inline;
		margin-right: -4vw;
		mix-blend-mode: luminosity;
		width: calc(100vw - (v.$padding-width-overview-sides * 2));
		max-width: 100%;
		height: auto;
		@include m.media('>desktop') {
			width: 32vw;
			height: unset;
			max-width: unset;
		}
	}
</style>
