---
import map from '@assets/overview/maplink.webp';
import { Picture } from '@astrojs/image/components';
---

<a href="/map">
	<Picture
		src={map}
		alt="Map of UK Linking to Canal Map"
		sizes="100vw"
		widths={[400, 800, 1200]}
		format="jpg"
		quality={90}
		fit="cover"
		position="center"
		class="maplink"
	/>
</a>

<style lang="scss">
	.maplink {
		width: 40vw;
	}
</style>
